<!DOCTYPE html>
<html ng-app>
<head>
    <title></title>
</head>
<body data-ng-controller="myController">
<div class="container">
    Name : <input type="text" ng-model="name"/>
    <br>
    {{name}}
    <br>
    <ul>
        <li data-ng-repeat="person in persons  | filter:name">{{person.name}} {{person.phone}}</li>
    </ul>
</div>

</body>
<script src="../AngularJS/angular.js"></script>

<script>
    function myController($scope) {

        $scope.persons = [
            {name: 'Malinda', phone: '0771122113'},
            {name: 'Chathura', phone: '071'},
            {name: 'Renien', phone: ''}
        ]
    }
</script>
</html>